{% extends "parent.njk" %}
{% block content %}
  <h1>Welcome
      <br><br>to<br><br>
      Bloo Chat!</h1>
{% endblock %}
{% block form %}
  <div>
    <button id="log_in" onclick="logInClicked()"> Log In </button>
    <button id="register" onclick="registerClicked()">Register</button>
  </div>
{% endblock %}
{% block script %}
<script src="frontpage.js"></script>
{% endblock %}

