{% extends "parent.njk" %}
{% block content %}
  <h1>Log In</h1>
{% endblock %}
{% block form %}
  <form action="/api/users" id="loginForm">
    <input name="username" id="usrnm" autocomplete="off" autofocus="on" placeholder="Username"/>
    <input name="password" id="pswrd" autocomplete="off" autofocus="on" placeholder="Password"/>
    <button>Log In</button>
  </form>
{% endblock %}
{% block script %}
  <script src="addusr.js"></script>
{% endblock %}