{% extends "parent.njk" %}
{% block content %}
    <h1>Register</h1>
{% endblock %}
{% block form %}
  <form action="/" id="registerForm">
    <label for="username" id="uname">{{ uname }}</label>
    <input name="username" id="txt" autocomplete="off" autofocus="on" placeholder="Username"/>
    <label for="password" id="pword">{{ pword }}</label>
    <input name="password" id="txt" autocomplete="off" autofocus="on" placeholder="Password"/>
    <button>Register</button>
  </form>
{% endblock %}
{% block script %}
{% endblock %}